<h1 mat-dialog-title> Crea un nuovo prodotto</h1>
<div mat-dialog-content>
  <mat-form-field>
    <p>Name</p>
    <input matInput [(ngModel)]="product.name">
  </mat-form-field>
  <mat-form-field>
    <p>Type</p>
    <input matInput [(ngModel)]="product.type">
  </mat-form-field>
  <mat-form-field>
    <p>Category</p>
    <input matInput [(ngModel)]="product.category">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="product">Submit</button>
</div>



