<div class="card my-5">
  <div class="card-body">
    <form  #FornituraForm="ngForm">
      <h1 style="color:#0066ff;">Inserisci un prodotto in fornitura!</h1>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select>
             <mat-option value="fruit" (click)="categorySelected('fruit')">Frutta</mat-option>
             <mat-option value="vegetable" (click)="categorySelected('vegetable')">Verdura</mat-option>
             <mat-option value="cheese" (click)="categorySelected('cheese')">Formaggi</mat-option>
             <mat-option value="wine" (click)="categorySelected('wine')">Vino</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Product</mat-label>
          <mat-select required  [(ngModel)]="supply.product" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let product of products" [value]="product" (click)="productSelected(product)">
              <div *ngIf="product.type; else elseBlock">{{product.name+' '+product.type}}</div>
              <ng-template #elseBlock>{{product.name}}</ng-template>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        <p>
           Non hai trovato il prodotto? <button mat-raised-button (click)="openDialog()">Inseriscine uno</button>
        </p>

        <div>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" [(ngModel)]="supply.quantity"  [ngModelOptions]="{standalone: true}">
            <span matSuffix>kg</span>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="0" [(ngModel)]="supply.price"  [ngModelOptions]="{standalone: true}">
            <span matSuffix>€&nbsp;/Kg</span>
          </mat-form-field>
        </div>
      <div *ngIf="supply.price && supply.product.name && supply.quantity">
        <div *ngIf="supply.product.type; else elseBlock">
          <p>Vuoi davvero aggiungere in fornitura {{supply.quantity}} kg di {{supply.product.name}} {{supply.product.type}} al prezzo di {{supply.price}} €?</p>
        </div>
        <ng-template #elseBlock>
          <p>Vuoi davvero aggiungere in fornitura {{supply.quantity}} kg di {{supply.product.name}} al prezzo di {{supply.price}} €?</p>
        </ng-template>
          <button mat-raised-button (click)="onSubmit()"> Sì, confermo </button>
          <button mat-raised-button (click)="backHome()"> No, annullo </button>
        </div>
    </form>

  </div>
</div>
