<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-light text-uppercase fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="/Homepage">  <img src="assets/IMG/LOGO.png"></a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-black-50 rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"> <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"  routerLink="/Maps" id="map" >Mappa</a></li>

        <li class="nav-item mx-0 mx-lg-1"> <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"  routerLink="/shopList" id="list" >Lista</a></li>

        <li class="nav-item mx-0 mx-lg-1">
          <mat-form-field appearance="fill" >
            <mat-label> My Account </mat-label>
            <mat-select>
              <mat-option *ngFor="let action of actions" [value]="action" (click)="actionSelected(action)">
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>

      </ul>
    </div>
  </div>
</nav>
