<div class="card my-5">
  <div class="card-body">
    <form  #userForm="ngForm" *ngIf="user">
      <h1 style="color:#0066ff;"> Completa il tuo profilo! </h1>
      <label id="example-radio-group-label"> Desideri anche vendere? </label>
      <mat-radio-group class="example-radio-group" [(ngModel)]="user.role" [ngModelOptions]="{standalone: true}">
        <mat-radio-button value="farmer"> SI </mat-radio-button>
        <mat-radio-button value="user"> NO </mat-radio-button>
      </mat-radio-group>

      <p></p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label> Numero di telefono </mat-label>
        <span matPrefix>+39 &nbsp;</span>
        <input matInput type="text" [(ngModel)]="user.telephone"  [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="fill">
        <mat-label> Data di nascita </mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthDate" [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label> Città </mat-label>
        <input matInput type="text" [(ngModel)]="user.city"  [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label> Via </mat-label>
        <input matInput type="text" [(ngModel)]="user.address"  [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>  Numero civico </mat-label>
        <input matInput type="text" [(ngModel)]="user.civicNumber"  [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label> Codice Fiscale </mat-label>
        <input matInput type="text" [(ngModel)]="user.fiscalCode"  [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <p></p>
      <button mat-raised-button (click)="onSubmit()"> Avanti </button>

    </form>
  </div>
</div>
