<div class="card my-5">
  <div class="card-body">
    <form  #shopForm="ngForm">
      <h1 style="color:#0066ff;"> Inserisci il tuo shop! </h1>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label> Nome </mat-label>
        <input matInput type="text" [(ngModel)]="shop.name"  [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>
<p></p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label> Breve descrizione </mat-label>
        <input matInput type="text" [(ngModel)]="shop.description"  [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label> Città </mat-label>
        <input matInput type="text" [(ngModel)]="shop.city"  [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>

      <p></p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label> Via </mat-label>
        <input matInput type="text" [(ngModel)]="shop.address"  [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>  Numero civico </mat-label>
        <input matInput type="text" [(ngModel)]="shop.civicNumber"  [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>
      <p></p>

      <mat-label > Desideri consegnare a casa? </mat-label>
      <mat-radio-group class="example-radio-group" [(ngModel)]="shop.hasDelivery" [ngModelOptions]="{standalone: true}">
        <mat-radio-button value="true"> SI </mat-radio-button>
        <mat-radio-button value="false"> NO </mat-radio-button>
      </mat-radio-group>
      <p></p>
      <mat-label> E' possibile il ritiro in negozio? </mat-label>
      <mat-radio-group class="example-radio-group" [(ngModel)]="shop.hasTakeAway" [ngModelOptions]="{standalone: true}">
        <mat-radio-button value="true"> SI </mat-radio-button>
        <mat-radio-button value="false"> NO </mat-radio-button>
      </mat-radio-group>
      <p></p>
      <button mat-raised-button (click)="onSubmit()"> Avanti </button>
    </form>
  </div>
</div>

