<p> Sicuro di volerti scollegare? </p>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]=" 'no'"> No </button>
  <button mat-button class="auth" (click)="signOut()"> Sì</button>
</div>


