<h1>
  Ecco gli ordini che hai ricevuto !
</h1>

<div *ngIf="ordersFrontEnd.length == 0">
  <p> Non hai ricevuto ancora nessun ordine </p>
</div>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let order of ordersFrontEnd">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ order.shop.name }}</mat-card-title>
          <mat-card-subtitle>{{ order.insertDate }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p> STATO : {{order.status}}</p>
          <p></p>
          <p> PRODOTTI :  </p>
          <p></p>
          <mat-list>
            <mat-list-item *ngFor="let item of order.items">
              <div *ngIf="item.supply.product.type!=''; else elseBlock"></div>
              <div mat-line>nome : {{item.supply.product.name}} {{item.supply.product.type}} , quantita' {{item.quantity}} Kg</div>
              <ng-template #elseBlock>
                <div mat-line>nome: {{item.supply.product.name}} , quantita' : {{item.quantity}} Kg</div>
              </ng-template>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>
          </mat-list>
          <p></p>
          <p>
            PREZZO TOTALE : {{order.totalPrice}}
          </p>
        </mat-card-content>

        <mat-card-actions>
          <div *ngIf="order.status == 'payed'">
            <button mat-button (click)="updateOrderState(order.id, 'ready')"> Segnalo come PRONTO </button>
          </div>
          <div *ngIf="order.status == 'ready'">
            <button mat-raised-button (click)="updateOrderState(order.id, 'shipped')"> Segnalo come SPEDITO </button>
          </div>
        </mat-card-actions>

      </mat-card>



    </div>
  </div>
</div>

