<h1>
  Trova il negozio giusto per te !
</h1>

<p></p>
<mat-slide-toggle [(ngModel)]="searchMode" (change)="initSearch()"> Filtra per categoria </mat-slide-toggle>
<div *ngIf="searchMode">
<section class="example-section" [formGroup]="categories">
  <h4>Categorie :</h4>
  <p><mat-checkbox formControlName="fruit" [(ngModel)]="searchSelectionTypes[0]" (change)="updateShops()">Frutta</mat-checkbox></p>
  <p><mat-checkbox formControlName="vegetable" [(ngModel)]="searchSelectionTypes[1]" (change)="updateShops()">Verdura</mat-checkbox></p>
  <p><mat-checkbox formControlName="cheese" [(ngModel)]="searchSelectionTypes[2]" (change)="updateShops()">Formaggi</mat-checkbox></p>
  <p><mat-checkbox formControlName="wine" [(ngModel)]="searchSelectionTypes[3]" (change)="updateShops()">Vino</mat-checkbox></p>
</section>
</div>
<p></p>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let shop of shops">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ shop.name }}</mat-card-title>
          <mat-card-subtitle>{{ shop.address }}</mat-card-subtitle>
        </mat-card-header>
        <div *ngIf="shop.shopImg; else notImg">
          <img mat-card-image src="{{shop.shopImg}}" alt="immagine del profilo">
        </div>
        <ng-template #notImg>
          <img mat-card-image src="assets/IMG/shopIcon.jpg" alt="immagine del profilo">
        </ng-template>
        <mat-card-content>
          <div *ngIf="shop.hasDelivery; else notDelivery">
            <p> Il negozio effettua la consegna a domicilio </p>
          </div>
          <ng-template #notDelivery>
            <p> ATTENZIONE! Il negozio non effettua la consegna a domicilio </p>
          </ng-template>

          <div *ngIf="shop.hasTakeAway; else notTakeAway">
            <p> Il negozio permette il ritiro sul posto </p>
          </div>
          <ng-template #notTakeAway>
            <p> ATTENZIONE! Il negozio non permette il ritiro sul posto </p>
          </ng-template>

          <div *ngIf="shop.description">
            <p>
              {{shop.description}}
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="seeShop(shop)"> VAI </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
