<h1>Ecco il negozio che hai scelto!</h1>

<p></p>
<div *ngIf="shop.shopImg">
  <img mat-card-image src="{{shop.shopImg}}" alt="immagine del profilo">
</div>
<p></p>
<p> NOME :  {{shop.name}} </p>
<p></p>
<p> INDIRIZZO : {{shop.address}} {{shop.civicNumber}} {{shop.city}} </p>
<p></p>
<div *ngIf="shop.hasDelivery; else notDelivery">
    <p> Il negozio effettua la consegna a domicilio </p>
</div>
<ng-template #notDelivery>
    <p> ATTENZIONE! Il negozio non effettua la consegna a domicilio </p>
</ng-template>
<p></p>
<div *ngIf="shop.hasTakeAway; else notTakeAway">
    <p> Il negozio permette il ritiro sul posto </p>
</div>
<ng-template #notTakeAway>
    <p> ATTENZIONE! Il negozio non permette il ritiro sul posto </p>
</ng-template>
<p></p>
<h1> Inizia a comprare :</h1>
<mat-list>
  <mat-list-item *ngFor="let supply of supplies">
    <div *ngIf="supply.product.type; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div mat-line>prodotto : {{supply.product.name}} {{supply.product.type}} </div>
    </ng-template>
    <ng-template #elseBlock>
      <div mat-line>prodotto : {{supply.product.name}} </div>
    </ng-template>
    <div mat-line>quantita'  disponibile : {{supply.quantity}} kg , prezzo :  {{supply.price}} €&nbsp;/Kg</div>
    <mat-slide-toggle [(ngModel)]="buyMode[supply.id]"> Compra </mat-slide-toggle>
    <div *ngIf="buyMode[supply.id] ==true">
      <!--quantita' : <input matInput type="number" [(ngModel)]="qtyTemp"  [ngModelOptions]="{standalone: true}">
        <button mat-raised-button (click)="buy(supply, qtyTemp, supply.price)"> Conferma </button> -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantità</mat-label>
        <input matInput placeholder="0" [(ngModel)]="qtyTemp"  [ngModelOptions]="{standalone: true}">
        <span matSuffix>kg</span>
      </mat-form-field>
      <button mat-raised-button (click)="buy(supply, qtyTemp, supply.price)"> Conferma </button>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<p></p>
<h1> Riepilogo Carrello</h1>
<mat-list>
  <mat-list-item *ngFor="let item of chartItemsFrontEnd">
    <div *ngIf="item.supply.product.type; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div mat-line>prodotto : {{item.supply.product.name}} {{item.supply.product.type}} </div>
    </ng-template>
    <ng-template #elseBlock>
      <div mat-line>prodotto : {{item.supply.product.name}} </div>
    </ng-template>
    <div mat-line>quantita' : {{item.quantity}} kg , prezzo :  {{item.price}} €&nbsp;</div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<div *ngIf="totalPrice>0">
  <p> Totale : {{totalPrice}} € </p>
</div>


<mat-slide-toggle [(ngModel)]="payment"> Paga adesso </mat-slide-toggle>

<div *ngIf="shop.hasTakeAway">
  <p> <button mat-raised-button (click)="confirm('takeAway')">Conferma ordine con asporto</button> </p>
</div>
<div *ngIf="shop.hasDelivery">
  <p> <button mat-raised-button (click)="confirm('delivery')">Conferma ordine con consegna</button> </p>
</div>


