/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #6bbbf6;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #0066ff;
}

.mat-divider {
  display: block;
  margin: 1px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0066ff;
}

h1 {
  color: #0066ff;
}
