<h1>Ecco il tuo negozio!</h1>

<p> NOME :  {{shop.name}} </p>
<p></p>
<p> INDIRIZZO : {{shop.address}} {{shop.civicNumber}} {{shop.city}} </p>
<p></p>
<p> PRODOTTI IN VENDITA :</p>
<mat-list>
  <mat-list-item *ngFor="let supply of supplies">
    <div *ngIf="supply.product.type; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div mat-line>prodotto : {{supply.product.name}} {{supply.product.type}} </div>
    </ng-template>
    <ng-template #elseBlock>
      <div mat-line>prodotto : {{supply.product.name}} </div>
    </ng-template>
    <div mat-line>quantita' : {{supply.quantity}} kg , prezzo :  {{supply.price}} €&nbsp;/Kg</div>
    <mat-slide-toggle [(ngModel)]="updateMode[supply.id]"> Modifica : {{updateMode[supply.id]}}</mat-slide-toggle>
    <div *ngIf="updateMode[supply.id] ==true">

      <table class="example-full-width" cellspacing="1px"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nuova quantità</mat-label>
        <input matInput placeholder="0" [(ngModel)]="supply.quantity"  [ngModelOptions]="{standalone: true}">
        <span matSuffix>kg</span>
      </mat-form-field></td>
      <td> <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nuovo prezzo </mat-label>
        <input matInput placeholder="0" [(ngModel)]="supply.price"  [ngModelOptions]="{standalone: true}">
        <span matSuffix> €&nbsp;/Kg </span>
      </mat-form-field></td>

      <td><button mat-raised-button (click)="update(supply)"> Modifica </button></td>
      </tr></table>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>

</mat-list>
<p>
Vuoi vendere un nuovo prodotto? <button mat-raised-button (click)="addProduct()">Aggiungilo in fornitura</button>
</p>
