<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name = "google-signin-client_id" content = "122541883796-6j055a8skt9793essobl203htjgr3rqh.apps.googleusercontent.com">
  <title>SocialTest</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script async defer src="https://apis.google.com/js/api.js"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=AZ05KXx7UjWfXP4VUIVsLt14zRkx46Etc4pIH98CDmkSYgziln4wS24p5ij0g3LIeHxA3a0Wto4Utxx0"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- <script>var gapiOnLoadCallback = function() { window.gapiOnLoadCallback(); }</script>
  <script src="https://apis.google.com/js/platform.js?onload=gapiOnLoadCallback" async defer></script>-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-typography">

<!-- <div id="googleLoginButton"></div>

<button ng-show="signedIn" ng-click="signOut()">Sign Out</button> -->

<app-root></app-root>
</body>
</html>
