<header class="masthead  text-white text-center">
  <img class="iconeLat sopra destra" src="assets/IMG/CHeese.jpg" alt="" />
  <img class="iconeLat sotto destra" src="assets/IMG/wine.png" alt="" />
  <div class="container d-flex  align-items-md-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5 justify-content-center" src="assets/IMG/LOGO.png" alt="" />
  </div>
  <img class="iconeLat sopra sinistra" src="assets/IMG/funnyVeg.jpg" alt="" />
  <img class="iconeLat sotto sinistra" src="assets/IMG/cherry.jpg" alt="" />
</header>
<div id="info">

  <br>
  <h4>Perchè usare ToFood?</h4>
  <p>
    <br>
    Ogni anno sprechi parte del raccolta perchè sovrebbondante? <br>
    Vorresti fare qualche soldo in più grazie alla tua piccola produzione? <br>
    Oppure desideri comprare del cibo fresco, dal tuo agricoltore di fiducia? <br>
    <b><i>TooFood</i> è il sito che fa per te!</b> <br>
    L'obiettivo di <i>TooFood</i> è quello di agevolare la vendita da parte dei piccoli produttori
    dei loro articoli, <br> specialmente di ciò che hanno in eccesso per evitare gli sprechi.
  </p>


</div>
<div>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>Mappa</mat-card-title>
          <mat-card-subtitle>Controlla i venditori vicino  a te</mat-card-subtitle>
        </mat-card-header>
        <img  mat-card-image src="assets/IMG/Mappa.jpg"  alt="mappa" width="350" height="300">
        <mat-card-content>
          <p>
            Too Food ti permette di visuallizare tutti i Farmer vicino alla tua posizione
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/Maps">Vai Alla Mappa..</button>

        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Lista</mat-card-title>
          <mat-card-subtitle>Controlla la lista dei venditori</mat-card-subtitle>
        </mat-card-header>
        <img  mat-card-image src="assets/IMG/ShopDefaultImg.jpg" alt="lista" width="350" height="300">
        <mat-card-content>
          <p>
            Too Food ti permette di visuallizare tutti i Farmer
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/shopList">Vai Alla Lista..</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>



