h1 {
  color: #0066ff;
}

p {
  font-family: "Helvetica", Arial, serif;
  font-weight: 400;
}

.mat-card{
  /* background-color: #e1fffa; */
  background-color: #F3F3E7
}

.mat-divider{
  border-top-style: solid;
  /* border-top-color: #9be1d5; */
  border-top-color: #B2C4CB
}

