<h1>
  <br> Ecco gli ordini che hai effetuato:
</h1>

<div *ngIf="ordersFrontEnd.length == 0">
  <p> Non hai ancora effetuato nessun ordine </p>
  <p>
    Cerca lo shop giusto per te navigando la <a routerLink="/Maps" id="map" > mappa </a> o scorrendo la <a routerLink="/shopList" id="list" > lista </a>
  </p>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let order of ordersFrontEnd">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title> {{ order.shop.name }}</mat-card-title>
          <mat-card-subtitle>{{ order.insertDate }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p> STATO : {{order.status}}</p>
          <p></p>
          <p> PRODOTTI : </p>
          <mat-list>
            <mat-list-item *ngFor="let item of order.items">
              <div *ngIf="item.supply.product.type!=''; else elseBlock"></div>
                <div mat-line>nome : {{item.supply.product.name}} {{item.supply.product.type}} , quantita' {{item.quantity}} Kg</div>
              <ng-template #elseBlock>
                <div mat-line>nome: {{item.supply.product.name}} , quantita' : {{item.quantity}} Kg</div>
              </ng-template>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>
          </mat-list>

          <p></p>
         <!-- <li *ngFor="let item of order.items">
            <div *ngIf="item.supply.product.type; else notType">
              <p> nome : {{item.supply.product.type}} {{item.supply.product.type}} , quantita' {{item.quantity}} </p>

            </div>
            <ng-template #notType>
              <p> nome: {{item.supply.product.name}} , quantita' : {{item.quantity}}</p>
            </ng-template>
          </li> -->
          <p>
            PREZZO TOTALE : {{order.totalPrice}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
